.u-container {
  width: 90%;
  max-width: 1366px;
  position: relative;
  margin: auto;
  letter-spacing: -0.28em;
  padding-left: 0;
}

.u-container > * {
  letter-spacing: normal;
}

.u-container--small {
  width: 50%;
}

.u-container--center {
  text-align: center;
}

.u-container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-container--flexRowReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.u-flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-hidden {
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
}

.u-scrollable {
  overflow-y: scroll;
}

.u-clearfloat:before,
.u-clearfloat:after {
  content: '';
  display: table;
}

.u-clearfloat:after {
  clear: both;
}

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

.u-padding {
  padding: 1.25rem;
}

@media screen and (min-width: 45em) {
  .u-padding {
    padding: 2.5rem;
  }
}

.u-padding--vertical {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 45em) {
  .u-padding--vertical {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.u-padding--horizontal {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (min-width: 45em) {
  .u-padding--horizontal {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 45em) {
  .u-hidden-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 45em) {
  .u-hidden-on-tablet-and-up {
    display: none;
  }
}

@media screen and (max-width: 60em) {
  .u-hidden-on-tablet-and-down {
    display: none;
  }
}

.u-table-layout {
  display: table;
  width: 100%;
}

.u-table-layout > * {
  display: table-cell;
  vertical-align: middle;
}

.u-table-layout .a-button-group {
  text-align: right;
  padding-left: 1rem;
}

.u-table-layout .a-button-group .a-button {
  margin: 0 0 1rem;
}

.u-table-layout .a-button-group .a-button:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 60em) {
  .u-table-layout .a-button-group {
    white-space: nowrap;
  }

  .u-table-layout .a-button-group .a-button {
    margin: 0 1rem 0 0;
  }

  .u-table-layout .a-button-group .a-button:last-child {
    margin-right: 0;
  }
}

.u-table-layout__main {
  width: 100%;
}

.u-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-grid:before,
.u-grid:after {
  content: '';
  display: table;
}

.u-grid:after {
  clear: both;
}

[class*="u-grid__col"] {
  float: left;
  width: 100%;
  vertical-align: top;
}

@media screen and (min-width: 45em) {
  .u-grid__col-1-2 {
    width: 50%;
  }
}

@media screen and (min-width: 45em) {
  .u-grid__col-1-3 {
    width: 50%;
  }
}

@media screen and (min-width: 60em) {
  .u-grid__col-1-3 {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 45em) {
  .u-grid__col-2-3 {
    width: 66.66666667%;
  }
}

@media screen and (min-width: 45em) {
  .u-grid__col-1-4 {
    width: 50%;
  }
}

@media screen and (min-width: 60em) {
  .u-grid__col-1-4 {
    width: 25%;
  }
}

@media screen and (min-width: 45em) {
  .u-grid__col-3-4 {
    width: 50%;
  }
}

@media screen and (min-width: 60em) {
  .u-grid__col-3-4 {
    width: 75%;
  }
}

.u-grid__col-1-5 {
  width: 50%;
}

@media screen and (min-width: 45em) {
  .u-grid__col-1-5 {
    width: 20%;
  }
}

.u-grid--with-margins {
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
}

.u-grid--with-margins [class*="u-grid__col"] {
  margin: 0.5rem 0.5rem;
  width: calc(100% - 1rem);
}

@media screen and (min-width: 45em) {
  .u-grid--with-margins .u-grid__col-1-2 {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 45em) {
  .u-grid--with-margins .u-grid__col-1-3 {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 60em) {
  .u-grid--with-margins .u-grid__col-1-3 {
    width: calc(33.33333333% - 1rem);
  }
}

@media screen and (min-width: 45em) {
  .u-grid--with-margins .u-grid__col-2-3 {
    width: calc(66.66666667% - 1rem);
  }
}

@media screen and (min-width: 45em) {
  .u-grid--with-margins .u-grid__col-1-4 {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 60em) {
  .u-grid--with-margins .u-grid__col-1-4 {
    width: calc(25% - 1rem);
  }
}

@media screen and (min-width: 45em) {
  .u-grid--with-margins .u-grid__col-3-4 {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 60em) {
  .u-grid--with-margins .u-grid__col-3-4 {
    width: calc(75% - 1rem);
  }
}

.u-grid--with-margins .u-grid__col-1-5 {
  width: calc(50% - 1rem);
}

@media screen and (min-width: 45em) {
  .u-grid--with-margins .u-grid__col-1-5 {
    width: calc(20% - 1rem);
  }
}

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #0D1529;
  font-family: "Proxima Nova";
  font-size: 1rem;
  line-height: 1.7;
}

h1,
h2,
h4,
blockquote {
  font-weight: 100;
}

h3,
h5,
h6,
strong {
  font-weight: 700;
}

small {
  display: inline-block;
}

h1,
h2,
h3,
h4,
p,
h5,
h6,
ul,
ol,
body {
  margin: 0;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 20px;
}

@media screen and (min-width: 45em) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.375rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  line-height: 1.025;
  letter-spacing: 1px;
}

h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.875rem;
  line-height: 1.45;
}

@media screen and (min-width: 45em) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 0.875rem;
  line-height: 1.45;
}

@media screen and (min-width: 45em) {
  h4 {
    font-size: 1.125rem;
  }
}

h5 {
  font-size: 0.875rem;
  line-height: 1.55;
}

h6 {
  line-height: 1.55;
  font-size: 0.8125rem;
  font-weight: 200;
  text-transform: uppercase;
}

p {
  font-family: "Roboto ", serif;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 26px;
}

p:first-child {
  margin: 0;
}

p [class*="icon"] {
  line-height: 1;
}

p [class*="icon"]:before {
  font-size: 2.5em;
}

li {
  font-family: "Roboto ", serif;
  font-size: 16px;
}

a {
  font-family: "Roboto Slab", sans-serif;
}

h6,
small,
cite {
  font-size: 0.8125rem;
}

h1.primary-color,
h2.primary-color,
h3.primary-color,
h4.primary-color,
h5.primary-color,
h6.primary-color {
  color: #40A5F3;
}

h1.secondary-color,
h2.secondary-color,
h3.secondary-color,
h4.secondary-color,
h5.secondary-color,
h6.secondary-color {
  color: #2F3742;
}

a,
.is-hyperlink {
  color: #40A5F3;
  background: transparent;
}

a:hover,
a:active {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

mark {
  background: #FCE7AC;
}

del {
  color: rgba(13, 21, 41, 0.72);
}

hr {
  border: none;
  border-top: 1px solid #D9E5F6;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 1.75em 0;
}

blockquote {
  font-family: "Freight Display";
  font-weight: 100;
  font-size: 1.625rem;
  line-height: 1.25;
  margin: 0;
}

cite {
  color: rgba(13, 21, 41, 0.72);
  font-family: "Proxima Nova";
  font-style: normal;
  margin-top: 0.75em;
  display: block;
}

cite:before {
  content: '\2014';
  margin: 0 0.3em;
}

html,
body {
  background-color: #FFFFFF;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1140px;
  position: relative;
  margin: auto;
  letter-spacing: -0.28em;
  padding-left: 0;
}

.container > * {
  letter-spacing: normal;
}

section .container {
  padding: 2rem 0;
}

@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.eot?5b2024462246ac2f3db8edba2869e6c6?#iefix) format("embedded-opentype"), url(/fonts/icomoon.woff?a682ff1edf6e5400f137c0015cccaaf8) format("woff"), url(/fonts/icomoon.ttf?c30817f41261b2b95c94bb18ccd8f43f) format("truetype"), url(/fonts/icomoon.svg?550a1d602a6549226db16f4d01ebfe6d#icon) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\E900";
}

.icon-plus:before {
  content: "\E902";
}

.icon-download:before {
  content: "\E903";
}

.icon-chevron:before {
  content: "\E904";
}

.icon-mail:before {
  content: "\E905";
}

.icon-phone:before {
  content: "\E906";
}

.icon-pin:before {
  content: "\E907";
}

.icon-heart:before {
  content: "\E908";
}

.icon-arrow:before {
  content: "\E909";
}

img {
  outline: 0;
  border: none;
}

img:not([width]):not([height]):not(.logo) {
  max-width: 100%;
  height: auto;
}

img[width],
img[height] {
  vertical-align: top;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
  text-align: center;
  display: block;
}

figure img {
  display: block;
}

.a-inline-list {
  letter-spacing: -0.28em;
  padding-left: 0;
}

.a-inline-list > * {
  letter-spacing: normal;
  display: inline-block;
}

table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  margin: 0;
  border-collapse: collapse;
}

table .input,
table [class*='input__'] {
  margin: 0;
}

table select {
  font-weight: 400;
  border-color: transparent !important;
}

table select + [class*='icon'] {
  padding-top: 0.15em;
}

th:not(.has-no-padding),
td:not(.has-no-padding) {
  padding: 0.9rem 0.7rem;
}

th:not(.is-empty) {
  font-size: 0.8125rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #40A5F3;
  color: #FFFFFF;
  border-right: 1px solid #D9E5F6;
  border-bottom: 1px solid #40A5F3;
}

th:not(.is-empty):last-child {
  border-color: #40A5F3;
}

th:not(.is-empty) .input select {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

th:not(.is-empty) .input select.has-no-value {
  color: #FFFFFF;
}

th:not(.is-empty) .input select + [class*='icon'],
th:not(.is-empty) .input select.has-no-value + [class*='icon'] {
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 0.13rem 0.5rem;
}

tr:nth-child(even) {
  background: #F7F9FB;
}

td {
  vertical-align: middle;
  position: relative;
  border: 1px solid #D9E5F6;
  padding: 0 2rem;
}

td .input label {
  width: 40%;
  float: left;
  padding: 0.6rem 0 0.4rem;
}

td .input div {
  width: 59%;
  float: right;
}

td .input.text-right input {
  text-align: right;
}

td .input.text-primary-color input {
  color: #40A5F3;
}

button {
  font: inherit;
  overflow: visible;
  cursor: pointer;
  outline: 0;
}

::-moz-focus-inner {
  padding: 0;
  border: none;
}

[disabled][disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.a-button {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  font-size: 18px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  padding: 18px 30px;
  border: 2px solid #0D1529;
  color: #0D1529 !important;
  background: transparent;
  font-family: "Roboto Slab", sans-serif;
}

.a-button:not([disabled]):hover {
  border-color: #40A5F3;
  color: #40A5F3 !important;
}

.a-button:not([disabled]):active {
  background: rgba(13, 13, 13, 0);
  border-color: #070b16;
}

.a-button[disabled] {
  background: #F7F9FB;
  border-color: #F7F9FB;
  color: rgba(13, 21, 41, 0.72);
}

.a-button--filled {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  font-size: 18px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  padding: 18px 30px;
  border: 2px solid #0D1529;
  color: #FFFFFF !important;
  background: #0D1529;
  font-family: "Roboto Slab", sans-serif;
}

.a-button--filled:not([disabled]):hover {
  border-color: #40A5F3;
  color: #40A5F3 !important;
}

.a-button--filled:not([disabled]):active {
  background: #131f3c;
  border-color: #070b16;
}

.a-button--filled[disabled] {
  background: #F7F9FB;
  border-color: #F7F9FB;
  color: rgba(13, 21, 41, 0.72);
}

.a-button [class*='icon'] {
  display: inline-block;
  line-height: 1;
  vertical-align: text-top;
}

.a-button [class*='icon']:before {
  position: relative;
}

.a-button span + [class*='icon'],
.a-button [class*='icon'] + span {
  margin-left: 1em;
}

.a-button--outline {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  font-size: 18px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  padding: 18px 30px;
  border: 2px solid #D9E5F6;
  color: #2F3742 !important;
  background: transparent;
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
  border-radius: 0.3334em;
}

.a-button--outline:not([disabled]):hover {
  border-color: #40A5F3;
  color: #40A5F3 !important;
}

.a-button--outline:not([disabled]):active {
  background: rgba(13, 13, 13, 0);
  border-color: #c4d7f1;
}

.a-button--outline[disabled] {
  background: #F7F9FB;
  border-color: #F7F9FB;
  color: rgba(13, 21, 41, 0.72);
}

.a-button-rounded {
  border-radius: 50%;
  position: relative;
}

.a-button-rounded span:not([class*='icon']) {
  width: 200%;
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
  position: absolute;
  bottom: 0;
  left: 50%;
}

input {
  line-height: normal;
}

select {
  text-transform: none;
}

input,
select,
textarea {
  color: inherit;
  font: inherit;
  outline: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-ms-expand {
  display: none;
}

select,
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

.a-input select,
.a-input textarea,
.a-input input:not(.a-button),
.a-toggle .toggle__holder,
.a-input--upload input[type="text"] {
  font-size: 0.875rem;
  padding: 0.6rem 0.6rem 0.4rem;
  background-color: #FFFFFF;
  border: 1px solid #D9E5F6;
  -webkit-box-shadow: 0 0.25em 0 -0.1em rgba(47, 55, 66, 0.045);
          box-shadow: 0 0.25em 0 -0.1em rgba(47, 55, 66, 0.045);
  border-radius: 0;
  width: 100%;
  -webkit-transition: border 100ms ease-in-out;
  transition: border 100ms ease-in-out;
}

.a-input select::-webkit-input-placeholder,
.a-input textarea::-webkit-input-placeholder,
.a-input input:not(.a-button)::-webkit-input-placeholder,
.a-toggle .toggle__holder::-webkit-input-placeholder,
.a-input--upload input[type="text"]::-webkit-input-placeholder {
  color: rgba(13, 21, 41, 0.72);
  font-style: italic;
  text-overflow: ellipsis;
}

.a-input select:-ms-input-placeholder,
.a-input textarea:-ms-input-placeholder,
.a-input input:-ms-input-placeholder:not(.a-button),
.a-toggle .toggle__holder:-ms-input-placeholder,
.a-input--upload input[type="text"]:-ms-input-placeholder {
  color: rgba(13, 21, 41, 0.72);
  font-style: italic;
  text-overflow: ellipsis;
}

.a-input select::-moz-placeholder,
.a-input textarea::-moz-placeholder,
.a-input input:not(.a-button)::-moz-placeholder,
.a-toggle .toggle__holder::-moz-placeholder,
.a-input--upload input[type="text"]::-moz-placeholder {
  color: rgba(13, 21, 41, 0.72);
  font-style: italic;
  text-overflow: ellipsis;
}

.a-input select:-moz-placeholder,
.a-input textarea:-moz-placeholder,
.a-input input:-moz-placeholder:not(.a-button),
.a-toggle .toggle__holder:-moz-placeholder,
.a-input--upload input[type="text"]:-moz-placeholder {
  color: rgba(13, 21, 41, 0.72);
  font-style: italic;
  text-overflow: ellipsis;
}

.a-input {
  margin-bottom: 1.5em;
}

.a-input:before,
.a-input:after {
  content: '';
  display: table;
}

.a-input:after {
  clear: both;
}

.a-input select,
.a-input textarea {
  width: 100%;
}

.a-input select:focus,
.a-input textarea:focus,
.a-input input:focus {
  border-color: #93ADD1;
}

.a-input input[disabled],
.a-input select[disabled],
.a-input textarea[disabled],
[class*='input__'][disabled] [class*='icon'] {
  background-color: #D9E5F6;
}

.a-input label {
  font-weight: 100;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  display: block;
}

.a-input .a-input__field-holder {
  position: relative;
}

.a-input small:not(.a-tooltip) {
  padding: 0.85rem 0.25rem;
}

.a-input a {
  position: relative;
  z-index: 2;
}

textarea {
  resize: vertical;
}

.a-input--with-button .a-button {
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.6rem 1rem 0.4rem;
}

.a-toggle {
  margin: 0.5em 0;
  line-height: 1.25rem;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.a-toggle label {
  position: relative;
  float: left;
  margin-right: 1em;
}

.a-toggle label:before,
.a-toggle label:after {
  content: '';
  display: table;
}

.a-toggle label:after {
  clear: both;
}

.a-toggle input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  top: -2px;
}

.a-toggle .toggle__holder {
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5em 1em 0;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: 1px solid #D9E5F6;
  background: #FFFFFF;
  position: relative;
  top: -0.125rem;
  float: left;
}

.a-toggle .toggle__holder [class*="icon"] {
  font-size: 13px;
}

.a-toggle--block {
  display: block;
}

.a-toggle--block > label {
  float: none;
  padding-left: 1.75rem;
  margin-right: 0;
  margin-bottom: 1.5rem;
}

.a-toggle--block > label:last-child {
  margin-bottom: 0;
}

.a-toggle--block .toggle__holder {
  position: absolute;
  left: 0;
  margin: 0;
}

.a-toggle--radio input:checked ~ .toggle__holder,
.a-toggle--checkbox input:checked ~ .toggle__holder {
  border-color: #40A5F3;
}

.a-toggle--radio .toggle__holder {
  border-radius: 50%;
}

.a-toggle--radio .toggle__holder:before {
  content: '';
  width: 0.375rem;
  height: 0.375rem;
  margin: 0.375rem;
  border-radius: inherit;
  background: #D9E5F6;
  display: block;
  -webkit-transition: opacity 220ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 220ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.a-toggle--radio label:hover .toggle__holder:before {
  opacity: 1;
}

.a-toggle--radio input:checked ~ .toggle__holder:before {
  background: #40A5F3;
  opacity: 1;
}

.a-toggle--checkbox .toggle__holder > span {
  opacity: 0;
  color: #D9E5F6;
  position: absolute;
  left: 2px;
  top: 1px;
  -webkit-transition: opacity 220ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 220ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 45em) {
  .a-toggle--checkbox label:hover .toggle__holder > span {
    opacity: 1;
  }
}

.a-toggle--checkbox input:checked ~ .toggle__holder > span {
  color: #40A5F3;
  opacity: 1;
}

.a-toggle--switch .toggle__holder {
  width: 3rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}

.a-toggle--switch input:checked + .toggle__holder {
  border-color: #D9E5F6;
}

.a-toggle--switch .toggle__button {
  content: "";
  display: block;
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.0625rem;
  background: #FFB4C2;
  opacity: 1;
  z-index: 3;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.a-toggle--switch input:checked + .toggle__holder .toggle__button {
  -webkit-transform: translateX(1.4375rem);
          transform: translateX(1.4375rem);
  background: #E6F1CE;
}

.toggle__button > span {
  width: 20px;
  display: block;
  text-align: center;
  border: none;
  color: #FFFFFF;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  z-index: 4;
}

.a-toggle--switch .toggle__on {
  opacity: 0;
}

.a-toggle--switch .toggle__off {
  opacity: 1;
}

.a-toggle--switch input:checked + .toggle__holder .toggle__button .toggle__on {
  opacity: 1;
}

.a-toggle--switch input:checked + .toggle__holder .toggle__button .toggle__off {
  opacity: 0;
}

input[type="range"] {
  height: 1.5rem;
  padding: 0;
  margin: 0;
  border-radius: 0.75rem !important;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=range]::-moz-focus-outer {
  border: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background: #40A5F3;
  -webkit-box-shadow: 0 0 1px rgba(13, 21, 41, 0.72);
          box-shadow: 0 0 1px rgba(13, 21, 41, 0.72);
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 2;
  position: relative;
}

input[type="range"]::-moz-range-thumb {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background: #40A5F3;
  box-shadow: 0 0 1px rgba(13, 21, 41, 0.72);
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 2;
  position: relative;
}

input[type="range"]::-ms-thumb {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background: #40A5F3;
  box-shadow: 0 0 1px rgba(13, 21, 41, 0.72);
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 2;
  position: relative;
}

.a-input--range__background {
  width: 97%;
  height: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 1.5%;
  background: rgba(47, 55, 66, 0.08);
  border-radius: 0.25rem;
}

.a-input--range__value {
  background: #40A5F3;
  width: 0;
}

.a-input--range__tooltip {
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  padding-left: 1rem;
  left: auto !important;
  right: -0.35rem;
  top: 0.75rem;
  z-index: -1;
  position: absolute !important;
  width: 4rem;
  text-align: center;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}

.a-input--range__tooltip:before {
  left: 50% !important;
}

select {
  padding-right: 2rem;
}

select.has-no-value {
  color: rgba(13, 21, 41, 0.72);
  font-style: italic;
  font-weight: 100;
}

select[disabled].has-no-value {
  color: rgba(13, 21, 41, 0.72);
}

.input select + [class*='icon'] {
  color: rgba(13, 21, 41, 0.72);
  margin: 0.35rem 0.9rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 3px;
}

.input select + [class*='icon']:before {
  font-size: 1.65em;
  line-height: 0;
}

.input select.has-no-value + [class*='icon'] {
  color: rgba(13, 21, 41, 0.72);
}

.a-input--upload {
  margin: 0;
  padding: 0;
}

.a-input--upload input[type="file"] {
  left: 0;
  opacity: 0;
  position: absolute;
  z-index: 99;
  top: 0;
}

.a-input--upload input[type="file"]:hover {
  cursor: pointer;
}

.a-input--upload input[type="text"] {
  opacity: 1;
}

.datepicker {
  position: relative;
}

.datepicker input {
  background: transparent;
  position: relative;
  z-index: 1;
}

.datepicker .button:not(.button-group) {
  width: 3.375rem;
  height: 2.6875rem;
  line-height: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 0.7em 0.8rem;
}

.datepicker .button span {
  position: relative;
  line-height: 0;
  top: 0.7rem;
}

.a-input.is-error select,
.a-input.is-error textarea,
.a-input.is-error input:not([class*='button']) {
  background: #FFB4C2;
}

.a-input.is-error select:focus,
.a-input.is-error textarea:focus,
.a-input.is-error input:not([class*='button']):focus {
  border-color: #ff355a;
}

.a-input.is-error .unit {
  background: #FFB4C2;
}

.a-input.is-warning select,
.a-input.is-warning textarea,
.a-input.is-warning input:not([class*='button']) {
  background: #FCE7AC;
}

.a-input.is-warning select:focus,
.a-input.is-warning textarea:focus,
.a-input.is-warning input:not([class*='button']):focus {
  border-color: #edb109;
}

.a-input.is-warning .unit {
  background: #FCE7AC;
}

.a-input.is-success select,
.a-input.is-success textarea,
.a-input.is-success input:not([class*='button']) {
  background: #E6F1CE;
}

.a-input.is-success select:focus,
.a-input.is-success textarea:focus,
.a-input.is-success input:not([class*='button']):focus {
  border-color: #9fc943;
}

.a-input[class*='is-'] input:focus + [class*='tooltip'] {
  opacity: 1;
}

.a-input [class*='tooltip'] {
  margin-top: 0.35rem;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

.a-input [class*='tooltip'] [class*='icon'] {
  position: absolute;
  left: 0.8em;
  top: 0.8em;
}

.a-input [class*='tooltip'] [class*='icon']:before {
  font-size: 1.45em;
}

fieldset {
  border: none;
  border-bottom: 1px solid #D9E5F6;
  padding: 2em;
}

fieldset:last-child {
  border-bottom: none;
}

.a-alert {
  color: rgba(13, 21, 41, 0.72);
  border: 1px solid rgba(47, 55, 66, 0.2);
  padding: 0.907rem;
}

.a-alert p {
  margin: 0;
}

.a-alert [class*='icon']:before {
  font-size: 1.65em;
  line-height: 0;
  position: relative;
  margin-right: 0.3em;
  top: -0.065em;
}

.a-alert a {
  color: inherit;
}

.a-alert:not(.is-error):not(.is-warning):not(.is-success):not(.is-information):not(.has-no-background) {
  background: #F7F9FB;
}

.a-alert.is-error {
  background: #FFB4C2;
}

.a-alert.is-warning {
  background: #FCE7AC;
}

.a-alert.is-success {
  background: #E6F1CE;
}

.a-alert.is-information {
  background: #CAEDF3;
}

.a-tooltip {
  -webkit-box-shadow: 0 0.25em 0 -0.1em rgba(47, 55, 66, 0.045);
          box-shadow: 0 0.25em 0 -0.1em rgba(47, 55, 66, 0.045);
  border-radius: 0.3334em;
  color: rgba(13, 21, 41, 0.72);
  background-color: #F7F9FB;
  position: relative;
  line-height: 1;
  padding: 0.9rem 1rem 0.8rem;
}

.a-tooltip a {
  color: inherit;
}

.a-tooltip:before {
  position: absolute;
}

.a-tooltip--up:before {
  content: '';
  border-left: 0.75em solid transparent !important;
  border-right: 0.75em solid transparent !important;
  border-bottom: 0.75em solid #F7F9FB;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  left: 1.5rem;
  top: 0;
}

.a-tooltip--right:before {
  content: '';
  border-top: 0.75em solid transparent !important;
  border-bottom: 0.75em solid transparent !important;
  border-left: 0.75em solid #F7F9FB;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: 0;
  top: 50%;
}

.a-tooltip--down:before {
  content: '';
  border-left: 0.75em solid transparent !important;
  border-right: 0.75em solid transparent !important;
  border-top: 0.75em solid #F7F9FB;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  left: 50%;
  bottom: 0;
}

.a-tooltip--left:before {
  content: '';
  border-top: 0.75em solid transparent !important;
  border-bottom: 0.75em solid transparent !important;
  border-right: 0.75em solid #F7F9FB;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  left: 0;
  top: 50%;
}

.a-tooltip.is-error {
  background-color: #FFB4C2;
}

.a-tooltip.is-error:before {
  border-color: #FFB4C2;
}

.a-tooltip.is-warning {
  background-color: #FCE7AC;
}

.a-tooltip.is-warning:before {
  border-color: #FCE7AC;
}

.a-tooltip.is-success {
  background-color: #E6F1CE;
}

.a-tooltip.is-success:before {
  border-color: #E6F1CE;
}

.a-tooltip.is-information {
  background-color: #CAEDF3;
}

.a-tooltip.is-information:before {
  border-color: #CAEDF3;
}

.a-link {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #40A5F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
}

.a-link .icon-arrow,
.a-link .icon-phone,
.a-link .icon-mail,
.a-link .icon-pin,
.a-link .icon-download {
  color: #61E1ED;
  font-size: 16px;
}

.a-link .icon-phone {
  padding-right: 15px;
  font-size: 18px;
}

.a-link .icon-mail {
  padding-right: 12px;
}

.a-link .icon-pin {
  font-size: 20px;
  padding-right: 16px;
}

.a-link .icon-arrow {
  padding-left: 5px;
}

.a-link .icon-download {
  font-size: 18px;
  padding-left: 10px;
}

.a-link:hover .icon-arrow {
  padding-left: 10px;
}

.m-bird__block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 45em) {
  .m-bird__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.m-bird__block__image {
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  height: 100%;
  position: relative;
  width: 100%;
}

.m-bird__block .icon-heart {
  bottom: -20px;
  color: #F55533;
  font-size: 3em;
  position: absolute;
  left: -25px;
}

@media screen and (min-width: 45em) {
  .m-bird__block .icon-heart {
    bottom: -30px;
    font-size: 6em;
    left: -40px;
  }
}

.m-bird__block--small {
  -webkit-box-shadow: 0 25px 50px 0 rgba(13, 21, 41, 0.06);
          box-shadow: 0 25px 50px 0 rgba(13, 21, 41, 0.06);
  margin-bottom: 40px;
  margin-right: 30px;
  width: calc(33% - 30px);
}

.m-bird__block--small .m-bird__block__content {
  padding: 30px;
}

.m-bird__block--small .m-bird__block__image {
  height: 200px;
  margin-bottom: 20px;
}

.m-section {
  padding: calc(2.5rem / 2) 0;
  position: relative;
}

@media screen and (min-width: 45em) {
  .m-section {
    padding: 2.5rem 0;
  }
}

@media screen and (min-width: 60em) {
  .m-section {
    padding: calc(2.5rem * 2) 0;
  }
}

.m-section--small {
  padding: calc(2.5rem / 2) 0;
}

@media screen and (min-width: 45em) {
  .m-section--small {
    padding: 2.5rem 0;
  }
}

@media screen and (min-width: 60em) {
  .m-section--small {
    padding: calc(2.5rem) 0;
  }
}

.m-section--colored {
  background-color: #F1F8FE;
}

@media screen and (min-width: 45em) {
  .m-section--colored {
    background: -webkit-gradient(linear, left top, left bottom, from(#F1F8FE), color-stop(80%, #F1F8FE), color-stop(80%, #FFFFFF), to(#FFFFFF));
    background: linear-gradient(to bottom, #F1F8FE 0%, #F1F8FE 80%, #FFFFFF 80%, #FFFFFF 100%);
  }
}

.m-section--coloredDark {
  background: -webkit-gradient(linear, left top, left bottom, from(#DEE5EC), color-stop(75%, #DEE5EC), color-stop(75%, #FFFFFF), to(#FFFFFF));
  background: linear-gradient(to bottom, #DEE5EC 0%, #DEE5EC 75%, #FFFFFF 75%, #FFFFFF 100%);
}

.m-section--white {
  background: #FFFFFF;
}

.o-article__block__image {
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
  width: 100%;
}

.o-article__block__date {
  color: #C0C6CC;
}

.o-article__block--featured {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 25px 50px 0 rgba(13, 21, 41, 0.06);
          box-shadow: 0 25px 50px 0 rgba(13, 21, 41, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.o-article-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.o-article-grid--full {
  margin-bottom: 75px;
  width: 100%;
}

.o-article-grid--2-4 {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .o-article-grid--2-4 {
    width: calc((100% - 80px) / 2);
  }
}

.o-footer {
  background-color: #F1F8FE;
}

.o-footer__inner {
  padding: 60px 0;
  margin-top: 40px;
}

.o-footer__navigation__item {
  color: #0D1529;
  display: block;
  font-size: 1.5rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.025;
  letter-spacing: 1px;
  text-decoration: none;
}

.o-header {
  background-color: #F1F8FE;
  padding: 10px 0;
}

.o-header .o-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-header .o-header__logo {
  color: #0D1529;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.o-header__navigation__item {
  color: #3B3F4B;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 30px;
  text-decoration: none;
  text-transform: none;
}

.o-header__navigation__item:last-child {
  margin-right: 0;
}

.o-header__navigation__item.is-active:after {
  content: '';
  background-color: #0D1529;
  display: inline-block;
  margin-top: 4px;
  height: 3px;
  width: 20px;
}

.o-page-intro {
  padding-top: 4.375rem;
}

.o-page-intro h1,
.o-page-intro p {
  margin-bottom: 2.1875rem;
}

.o-page-intro__image {
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 45em) {
  .o-page-intro__pigeon {
    background-image: url("/assets/img/white_pigeon.png");
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    bottom: -20px;
    right: -20px;
  }
}

.o-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.o-language .m-dropdown {
  top: 0;
}

.o-language__item {
  margin-bottom: 10px;
  margin-right: 10px;
}

.o-language__item a {
  color: #0D1529;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.o-language__item a:hover {
  text-decoration: underline;
}

.o-language__item--active a {
  color: #40A5F3;
}

