// article - block
.m-bird__block {
	flex-direction: column;
	margin-bottom: 35px;

	@include FLOW-at($tablet){
		flex-direction: row;
	}

	.a-button {
		margin-top: 10px;
	}

	&__image {
		background-size: cover;
		background-position: center center;
		min-height: 200px;
		height: 100%;
		position: relative;
		width: 100%;
	}

	&__more {
		background: $black;
		display: block;
		width: 100%;
		text-align:center;
		text-decoration: none;
		color: $white;
		padding: 20px 0;

		&:hover {
			background: rgba($black, 0.8);
		}
	}

	.icon-heart {
		bottom: -20px;
		color: #F55533;
		font-size: 3em;
		position:absolute;
		left: -10px;

		@include FLOW-at($mobile){
			left: -25px;
		}

		@include FLOW-at($tablet){
			bottom: -30px;
			font-size: 6em;
			left: -40px;
		}
	}

	&--small {
		box-shadow: 0 25px 50px 0 rgba(13,21,41,0.06);
		display: flex;
		flex-direction: column;
		width: 100%;

		@include FLOW-at($tablet){
			margin-bottom: 40px;
			margin-right: 45px;
			width: calc(33.33% - 30px);

			&:nth-child(3) {
				margin-right: 0;
			}
		}

		.m-bird__block__text {
			flex-grow: 1;
		}

		.m-bird__block__content {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			padding: 30px;
		}

		.m-bird__block__image {
			height: 250px;
			margin-bottom: 20px;
		}
	}
}

.m-bird__block--home {
	flex-direction: column-reverse;

	@include FLOW-at($tablet){
		flex-direction: row;
	}
}