// article - block
.m-bird__block {
	flex-direction: column-reverse;

	@include FLOW-at($tablet){
		flex-direction: row;
	}

	&__image {
		background-size: cover;
		background-position: center center;
		min-height: 200px;
		height: 100%;
		position: relative;
		width: 100%;


	}

	.icon-heart {
		bottom: -20px;
		color: #F55533;
		font-size: 3em;
		position:absolute;
		left: -25px;

		@include FLOW-at($tablet){
			bottom: -30px;
			font-size: 6em;
			left: -40px;
		}
	}

	&--small {
		box-shadow: 0 25px 50px 0 rgba(13,21,41,0.06);
		width: 100%;

		@include FLOW-at($tablet){
			margin-bottom: 40px;
			margin-right: 45px;
			width: calc(33.33% - 30px);

			&:nth-child(3) {
				margin-right: 0;
			}
		}

		.m-bird__block__content{
			padding: 30px;
		}

		.m-bird__block__image {
			height: 200px;
			margin-bottom: 20px;
		}
	}
}
