// article - block
.m-flight {
	box-shadow: 0 3px 15px 0 rgba(13,21,41,0.06);
	color: $black;

	@include FLOW-at($tablet) {
		padding: 30px 40px;
	}


	@include FLOW-to($tablet) {
			.m-flight__title,
			.m-flight__detail,
			.a-link {
				padding: 0 20px ;
			}

			.m-flight__title {
				padding-top: 20px;
			}
	}

	table {
		margin-top: 40px;

		thead tr th {
			background-color: $white;
			border: 0;
			border-bottom: 3px solid #DEE5EC !important;
			border-top: 3px solid #DEE5EC !important;
			color: #C0C6CC;
			font-family: $font-family-secondary;
			font-weight: bold;
			padding-bottom: 30px;
			padding-top: 30px;
			text-align: left;

			@include FLOW-to($tablet) {
				display: none;
			}
		}

		tbody tr td {
			border: none;
			font-family: $font-family-primary;
			text-transform: uppercase;

			@include FLOW-to($tablet) {
				display: none;
			}

			&.m-flight__table--mobile {
				padding: 20px;
				display: block;

				.m-flight__table__label--mobile {
					color: $font-color-medium;
					display: block;
					font-weight: bold;
					margin-top: 10px;
				}

				@include FLOW-at($tablet) {
					display: none;
				}
			}

		}

		tbody {
			tr:nth-child(odd) {
				background-color: #F7FBFE;
			}

			tr:nth-child(even) {
				background-color: $white;
			}
		}
	}
}

.m-flight__title {
	color: $black;
	font-family: $font-family-secondary;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.m-flight__detail {
	display: inline-flex;
	flex-direction: column;
	width: 100%;

	&__title {
		color: #C0C6CC;
		font-family: $font-family-secondary;
		font-weight: bold;
		margin-bottom: 5px;
	}

	&__content {
		font-family: $font-family-primary;
		font-size: 18px;
	}

	@include FLOW-at($mobile){
		width: auto;
	}
}
