// -------------------------------------------------------------------
// :: Installation
// -------------------------------------------------------------------
.m-installation {
	color: inherit;
	display: flex;
	margin-bottom: 40px;
	margin-top: 20px;
	padding: 10px;
	text-decoration: none;
	text-transform: none;
	width: calc(50% - 15px);

	&:hover {
		box-shadow: 1px 0px 34px 1px rgba(168,168,168,1);
	}

	&__image {
		background-size: cover;
		height: 100%;
		width: 100%;

		&__container {
			height: 170px;
			width: 230px;
			margin-right: 20px;
		}
	}

	&__content {
		width: 50%;
	}

	&__title {
		color: $primary-color;
		text-transform: uppercase;
	}
}

.m-installation--small {
	display: block;
	width: calc(33% - 15px);

	.m-installation__image {
		height: 270px;
		margin-bottom: 25px;
	}

	&:nth-child(even) {
		margin-top: 50px;
	}
}
