// -------------------------------------------------------------------
// :: SECTION
// -------------------------------------------------------------------
.m-section{
	padding: calc(#{$default-padding} / 2) 0;
	position: relative;

	@include FLOW-at($tablet){
		padding: $default-padding 0;
	}

	@include FLOW-at($desktop){
		padding: calc(#{$default-padding} * 2) 0;
	}
}

.m-section--small{
	padding: calc(#{$default-padding} / 2) 0;

	@include FLOW-at($tablet){
		padding: $default-padding 0;
	}

	@include FLOW-at($desktop){
		padding: calc(#{$default-padding}) 0;
	}
}

.m-section--colored {
	background: linear-gradient(to bottom, $background 0%,$background 80%,$white 80%, $white 100%);
}

.m-section--white {
	background: $white;
}
