.DS_Store
.idea/
.sass-cache/
.temp/
node_modules/
*.log*
development/fonts/icons.*
development/sass/base/_quarks/_icon-names.scss
development/templates/pages/playground
deploy/
dist/
config.json
craft/web/assets/img/*
craft/web/assets/uploads/*
craft/storage/logs/*
craft/web/assets/
!craft/web/assets/js/app.js
*/cpresources/
.env
craft/.env
craft/.idea
craft/vendor
craft/.DS_Store
craft/storage
vendor/
