// article - block
.o-article__block {
	flex-direction: column;

	@include FLOW-at($tablet){
		flex-direction: row;
	}

	&__image {
		background-size: cover;
		background-position: center center;
		height: 100%;
		min-height: 200px;
		position: relative;
		width: 100%;
	}

	&__date {
		color: #C0C6CC;
	}

  // Modifier
	&--featured {
		background-color: $white;
		box-shadow: 0 25px 50px 0 rgba(13,21,41,0.06);
		display: flex;
	}

	&--small {
		box-shadow: 0 25px 50px 0 rgba(13,21,41,0.06);
		width: 100%;

		@include FLOW-at($tablet){
			margin-bottom: 40px;
			margin-right: 45px;
			width: calc(33.33% - 30px);

			&:nth-child(3) {
				margin-right: 0;
			}
		}

		.o-article__block__content{
			padding: 30px;
		}

		.o-article__block__image {
			height: 200px;
			margin-bottom: 20px;
		}
	}
}
