// article - block
.o-article__block {
	flex-direction: column;

	@include FLOW-at($tablet){
		flex-direction: row;
	}

	&__image {
		background-size: cover;
		background-position: center center;
		height: 100%;
		min-height: 200px;
		position: relative;
		width: 100%;
	}

	&__date {
		color: #C0C6CC;
	}

  // Modifier
	&--featured {
		background-color: $white;
		box-shadow: 0 25px 50px 0 rgba(13,21,41,0.06);
		display: flex;
	}
}
