// -------------------------------------------------------------------
// :: FOOTER
// -------------------------------------------------------------------
.o-footer__inner {
	background-color: $primary-color;
	padding: 60px 0;
	margin-top: 40px;
}

// Footer navigation
.o-footer__navigation {


	&__item {
		color: $white;
		margin-right: 25px;
	}
}
