// -------------------------------------------------------------------
// :: intro
// -------------------------------------------------------------------
.o-header {
	padding: 10px 0;

	.o-header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.o-header__logo {
		font-family: $font-family-secondary;
		font-weight: bold;
		font-size: 24px;
	}

	&__navigation {


		&__item {
			color: $font-color-gray;
			align-items: center;
			display: inline-flex;
			flex-direction: column;
			margin: 5px 30px;
			text-decoration: none;
			text-transform: none;

			&:last-child {
				margin-right: 0;
			}

			&.is-active {
				&:after {
					content: '';
					background-color: $black;
					display: inline-block;
					margin-top: 4px;
					height: 3px;
					width: 20px;
				}
			}
		}
	}
}
