// -------------------------------------------------------------------
// :: Intro
// -------------------------------------------------------------------
.o-page-intro {
	padding-top: rem(70px);

	 h1, p {
		 margin-bottom: rem(35px);
	 }

	 &__image {
		 background-size: cover;
		 background-position: center center;
		 height: 100%;
		 width: 100%;
		 position: relative;
	 }
	}
