<section class="m-section m-section--small">
	<div class="container">
		<div class="u-flex u-flex-wrap">
			<!-- Birds overview -->
			{% include '/pigeons/components/_bird.html' %}

			<!-- Birds overview -->
			{% include '/pigeons/components/_bird.html' %}

			<!-- Birds overview -->
			{% include '/pigeons/components/_bird.html' %}

			<!-- Birds overview -->
			{% include '/pigeons/components/_bird.html' %}

			<!-- Birds overview -->
			{% include '/pigeons/components/_bird.html' %}
		</div>
	</div>
</section>
