
<div class="m-bird__block m-bird__block--small">
	<!--  Image -->
	{% if pigeon.generic_header is not empty %}
		<div class="m-bird__block__image" style="background-image: url('/assets/uploads/{{pigeon.generic_header.one().filename}}');background-position: {{pigeon.generic_position}} center">
		</div>
	{% else %}
		<div class="m-bird__block__image" style="background-image: url('/assets/img/placeholder.png')">
		</div>
	{% endif %}

	<!--  Content -->
	<div class="m-bird__block__content">
		<div class="m-bird__block__text">
			<h1> {{pigeon.title}} </h1>
			<p> {{pigeon.generic_description}} </p>

			{% if pigeon.pigeon_attributes is not empty %}
				<div class="u-flex u-flex-space-between u-flex-wrap">
					{% for attribute in pigeon.pigeon_attributes.all() %}
						<div class="u-grid__col-1-2">
							<h2> {{attribute.attribute_title}} </h2>
							<p> {{attribute.attribute_description}} </p>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<div class="m-bird__actions">
			{% if pigeon.pigeon_stamboom is not empty %}
			<a href="/assets/uploads/{{pigeon.pigeon_stamboom.one().filename}}" class="a-link" target="_blank">Download stamboom <span class="icon-download"></span></a>
			{% endif %}

			{% if pigeon.pigeon_forsale == 1 %}
				<a href="/contact" class="a-button a-button--fullWidth"> Koop deze duif </a>
			{% endif %}

			{% if pigeon.pigeon_eggforsale == 1 %}
				<a href="/contact" class="a-button a-button--fullWidth "> Koop een ei </a>
			{% endif %}

			<a class="a-button a-button--filled a-button--fullWidth" href="/duif/{{pigeon.slug}}"> Lees meer over deze duif</a>
		</div>

	</div>


</div>
