
<div class="m-bird__block m-bird__block--small">
	<div class="m-bird__block__image" style="background-image: url('/assets/img/pigeon2.jpg')">
	</div>

	<div class="m-bird__block__content">
		<h1> Hi, I'm Collin </h1>
		<p> Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. </p>

		<div class="u-flex u-flex-space-between u-flex-wrap">
			<div class="u-grid__col-1-2">
				<h2> Color </h2>
				<p> Aenean lacinia bibendum </p>
			</div>
			<div class="u-grid__col-1-2">
				<h2> Color </h2>
				<p> Aenean lacinia bibendum </p>
			</div>
			<div class="u-grid__col-1-2">
				<h2> Color </h2>
				<p> Aenean lacinia bibendum </p>
			</div>
		</div>

		<a href="" class="a-link">Download stambood <span class="icon-download"></span></a>

		<a href="/" class="a-button a-button--filled"> Buy </a>
		<a href="/" class="a-button"> Buy an egg </a>
	</div>
</div>
