
<div class="m-bird__block m-bird__block--small">
	<!--  Image -->
	{% if pigeon.generic_header is not empty %}
		<div class="m-bird__block__image" style="background-image: url('{{pigeon.generic_header.one().getVolume().path}}/{{pigeon.generic_header.one().filename}}')">
		</div>
	{% endif %}

	<!--  Content -->
	<div class="m-bird__block__content">
		<h1> {{pigeon.title}}</h1>
		<p> {{pigeon.generic_description}} </p>

		{% if pigeon.pigeon_attributes is not empty %}
			<div class="u-flex u-flex-space-between u-flex-wrap">
				{% for attribute in pigeon.pigeon_attributes.all() %}
					<div class="u-grid__col-1-2">
						<h2> {{attribute.attribute_title}} </h2>
						<p> {{attribute.attribute_description}} </p>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		<a href="" class="a-link">Download stambood <span class="icon-download"></span></a>

		{% if pigeon.pigeon_forsale == 1 %}
			<a href="/" class="a-button a-button--filled"> Buy </a>
		{% endif %}

		{% if pigeon.pigeon_eggforsale == 1 %}
			<a href="/" class="a-button"> Buy an egg </a>
		{% endif %}
	</div>
</div>
