{% extends "_layout" %}

{% block content %}
<!-- Title -->
<section class="m-section m-section--small m-section--intro">
	<div class="container">
		<h1> {{entry.title}} </h1>
	</div>
</section>

<!-- Content -->
<section class="m-section m-section--small">
	<div class="container">
		<div class="u-grid u-grid--with-margins">
			<div class="u-grid__col-1-2">
				<!--  Image -->
				{% if entry.generic_header is not empty %}
					<div class="m-bird__block__image m-bird__block__image--detail" style="background-image: url('/assets/uploads/{{entry.generic_header.one().getVolume().path}}/{{entry.generic_header.one().filename}}')">
					</div>
				{% else %}
					<div class="m-bird__block__image m-bird__block__image--detail" style="background-image: url('/assets/img/placeholder.png')">
					</div>
				{% endif %}
			</div>

			<div class="u-grid__col-1-2">
				<!--  Content -->
				<div class="m-bird__block__content" style="padding-left: 20px;">
					<h1> Paspoort </h1>
					<p> {{entry.generic_description}} </p>

					{% if entry.pigeon_attributes is not empty %}
					<div class="u-flex u-flex-space-between u-flex-wrap" style="margin-left: -8px;">
						{% for attribute in entry.pigeon_attributes.all() %}
						<div class="u-grid__col-1-2">
							<h2> {{attribute.attribute_title}} </h2>
							<p> {{attribute.attribute_description}} </p>
						</div>
						{% endfor %}
					</div>
					{% endif %}

					{% if entry.pigeon_stamboom is not empty %}
					<a href="/assets/img/general/{{entry.pigeon_stamboom.one().filename}}" class="a-link" target="_blank">Download stamboom <span class="icon-download"></span></a>
					{% endif %}

					{% if entry.pigeon_forsale == 1 %}
					<a href="/" class="a-button a-button--filled"> Buy </a>
					{% endif %}

					{% if entry.pigeon_eggforsale == 1 %}
					<a href="/" class="a-button"> Buy an egg </a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<!--  Variable declaration -->
{% set flights = craft.entries ({
	section: 'flight',
	limit: null,
	orderBy: 'flight_date DESC'
}) %}

<!--  Grid of the programs -->
<section class="m-section m-section--small">
	<div class="container">
		<h1> Resultaten </h1>
		{% for flight in flights.all() %}
			{% include '/flights/components/_flight.html' with { pigeon: entry } %}
		{% endfor %}
	</div>
</section>



{% endblock %}

