// -------------------------------------------------------------------
// :: BUTTONS
// -------------------------------------------------------------------
// Use hyperlinks for navigation, buttons for everything else
// Form buttons (input[type="submit", reset, ...) are normalized
// in base/_forms.scss, but use .button classes for styling

@include FLOW-normalize-buttons();


// -------------------------------------------------------------------
// :: BUTTON
// -------------------------------------------------------------------
// Solid button with full background color

@mixin FLOW-button($_color: $black, $_background: $primary-color, $_hover: $primary-color, $_border: $font-color) {

	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	font-size: $font-size-large;

	transition: all 100ms ease-in-out;
	padding: 18px 30px;
	border: 2px solid $_border;

	color: $_color !important;
	background: $_background;
	font-family: $font-family-secondary;

	// States

	&:not([disabled]):hover {
		border-color: $_hover;
		color: $_hover !important;
	}

	&:not([disabled]):active {
		background: lighten($_background, 5%);
		border-color: darken($_border, 5%);
	}

	&[disabled] {
		background: $light;
		border-color: $light;
		color: $font-color-medium;
	}

}


// -------------------------------------------------------------------
// :: GENERAL BUTTON
// -------------------------------------------------------------------
.a-button{
	@include FLOW-button($black, transparent, $primary-color, $font-color);

	&--filled {
		@include FLOW-button($white, $black, $primary-color, $font-color);
	}
}


// -------------------------------------------------------------------
// :: DECORATED BUTTONS
// -------------------------------------------------------------------
// Decorated buttons with icons before or after a text label

.a-button [class*='icon'] {
	display: inline-block;
	line-height: 1;
	vertical-align: text-top;
}

.a-button--small {
	font-size: $font-size;
	padding: 8px 16px;
}
// Size & positioning
// inside buttons

.a-button [class*='icon']:before {
	position: relative;
}

.a-button span + [class*='icon'],
.a-button [class*='icon'] + span {
	margin-left: 1em;
}

.a-button--fullWidth {
	width: 100%;
	padding: 5px;
}