<div class="m-flight">
	<!--  Header -->
	<div class="u-flex u-flex-space-between u-flex-wrap">
		<h2 class="m-flight__title">{{flight.title}}</h2>
		<a href="" class="a-link"> Download resultaat als bestand <span class="icon-arrow"></span></a>
	</div>

	<!--  Details -->
	<div class="u-flex u-flex-space-between">
		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> 03/08/2018 </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> 03/08/2018 </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> 03/08/2018 </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> 03/08/2018 </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> 03/08/2018 </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> 03/08/2018 </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> 03/08/2018 </span>
		</div>
	</div>

</div>
