<div class="m-flight">
	<!--  Header -->
	<div class="u-flex u-flex-space-between u-flex-wrap">
		<h2 class="m-flight__title">{{flight.title}}</h2>
		{% if flight.flight_result is not empty %}
			<a href="/assets/img/general/{{flight.flight_result.one().filename}}" class="a-link" target="_blank">Download resultaat in pdf <span class="icon-download"></span></a>
		{% endif %}
	</div>

	<!--  Details -->
	<div class="u-flex u-flex-space-between u-flex-wrap">
		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Vlucht datum </span>
			<span class="m-flight__detail__content"> {{flight.flight_date|date("d-m-Y") }}</span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> # deelnemers</span>
			<span class="m-flight__detail__content"> {{flight.flight_deelnemers}} </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Weeromstandigheden </span>
			<span class="m-flight__detail__content"> {{flight.flight_weather[0].title}} </span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> Afstand </span>
			<span class="m-flight__detail__content"> {{flight.flight_distance}}</span>
		</div>

		<!--  Vlucht datum-->
		<div class="m-flight__detail">
			<span class="m-flight__detail__title"> # views </span>
			<span class="m-flight__detail__content"> {{flight.flight_views}}</span>
		</div>
	</div>


	<!--  Table -->
	<table>
		<thead>
			<tr>
				<th>
					nr
				</th>

				<th>
					naam
				</th>

				<th>
					afstand
				</th>

				<th>
					ring
				</th>

				<th>
					snelheid
				</th>
			</tr>
		</thead>

		<tbody>
			{% if flight.flight_result_item is not empty %}

				{% for flight_result_item in flight.flight_result_item.all() %}

						<tr class="{% if pigeon is not empty %} {% if pigeon.pigeon_ringnumber != flight_result_item.pigeon.one().pigeon_ringnumber %} u-hidden {% endif %}{% endif %}">
							<td class="m-flight__table--mobile">
								<span class="m-flight__table__label--mobile"> Positie</span>
								{{flight_result_item.position}} <br>
								<span class="m-flight__table__label--mobile"> Naam</span>
								VAN DE VELDE STEFAN <br>
								<span class="m-flight__table__label--mobile"> Afstand</span>
								{{flight_result_item.distance}} <br>
								<span class="m-flight__table__label--mobile"> Ringnummer </span>
								{{flight_result_item.pigeon.one().pigeon_ringnumber}}
								<span class="m-flight__table__label--mobile"> Snelheid </span>
								{{flight_result_item.snelheid}}

							</td>
							<td>
								{{flight_result_item.position}}
							</td>

							<td>
								VAN DE VELDE STEFAN
							</td>

							<td>
								{{flight_result_item.distance}}
							</td>

							<td>
								<a  href="/pigeon/{{flight_result_item.pigeon.one().slug}}">
									{{flight_result_item.pigeon.one().pigeon_ringnumber}}
								</a>

							</td>

							<td>
								{{flight_result_item.snelheid}}
							</td>
						</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>
