// -------------------------------------------------------------------
// :: flex
// -------------------------------------------------------------------
.u-flex {
	display: flex;
}

.u-flex-wrap {
	flex-wrap: wrap;
}

.u-flex-space-between {
	justify-content: space-between;
}
