// -------------------------------------------------------------------
// :: flex
// -------------------------------------------------------------------
.u-flex {
	display: flex;
}

.u-flex-wrap {
	flex-wrap: wrap;
}

.u-flex-space-between {
	justify-content: space-between;
}

.u-flex--reversedRow {
	flex-direction: row-reverse;
}

.u-flex-center {
	justify-content: center;
}