// -------------------------------------------------------------------
// :: PADDING CLASSES & EXTENDS
// -------------------------------------------------------------------

%__u-padding{
	padding: $default-padding-mobile;

	@include FLOW-at($tablet){
		padding: $default-padding-tablet;
	}

	@include FLOW-at($desktop){
		padding: $default-padding;
	}
}

%__u-padding--small {
	padding: $default-padding-mobile;

	@include FLOW-at($tablet){
		padding: $default-padding-mobile;
	}
}

%__u-padding--vertical{
	padding-top: $default-padding-mobile;
	padding-bottom: $default-padding-mobile;

	@include FLOW-at($tablet){
		padding-top: $default-padding;
		padding-bottom: $default-padding;
	}
}

%__u-padding--horizontal {
	padding-left: $default-padding-mobile;
	padding-right: $default-padding-mobile;

	@include FLOW-at($tablet){
		padding-left: $default-padding;
		padding-right: $default-padding;
	}
}

.u-padding{
	@extend %__u-padding;
}

.u-padding--small {
	@extend %__u-padding--small;
}

.u-padding--vertical{
	@extend %__u-padding--vertical;
}

.u-padding--horizontal {
	@extend %__u-padding--horizontal;
}

.u-no-padding-left {
	padding-left: 0 !important;
}