<!--  Footer component -->
<footer class="o-footer" id="footer">
	<div class="o-footer__inner">
		<div class="container">
			<div class="u-flex u-flex-space-between u-flex-wrap">
				<!--  Normal navigation -->
				<div class="o-footer__navigation">
					<a class="o-footer__navigation__item"  href="/flights">
							Flight result
					</a>

					<a class="o-footer__navigation__item"  href="/pigeons">
							Discover our pigeons
					</a>

					<!-- <a class="o-footer__navigation__item" href="/blog">
							Blog
					</a> -->
				</div>

				<!--  Social navigation -->
				<div>
					<h3 class="o-footer__navigation__item"> Contact </h3>
					<a  href="tel:+32050448000" class="a-link"><span class="icon-phone"></span>0473/88.46.28 </a>
					<a href="" class="a-link"><span class="icon-mail"></span> example@example.com </a>
					<a href="" class="a-link"><span class="icon-pin"></span> test <br> Mazenzele</a>
				</div>
			</div>
		</div>
	</div>
</footer>
