<!--  Footer component -->
<footer class="o-footer" id="footer">
	<div class="o-footer__inner">
		<div class="container">
			<div class="u-flex u-flex-space-between u-flex-wrap">
				<!--  Normal navigation -->
				<div class="o-footer__navigation">
					<a class="o-footer__navigation__item"  href="/resultaten">
							Resultaten
					</a>

					<a class="o-footer__navigation__item"  href="/duiven">
							Ontdek mijn duiven
					</a>

					<!-- <a class="o-footer__navigation__item" href="/blog">
							Blog
					</a> -->
				</div>

				<!--  Social navigation -->
				<div>
					<h3 class="o-footer__navigation__item"> Contactgegevens </h3>
					<a  href="tel:+32050448000" class="a-link"><span class="icon-phone"></span>0478/69.80.87</a>
					<a href="" class="a-link"><span class="icon-mail"></span> info@vandeveldepigeons.be </a>
					<a href="" class="a-link"><span class="icon-pin"></span> Vossestraat 87, <br> 1745 Mazenzele</a>
				</div>
			</div>
		</div>
	</div>
</footer>
