<!--  Footer component -->
<footer class="o-footer" id="footer">
	<div class="o-footer__inner">
		<div class="container">
			<div class="u-flex u-flex-space-between">
				<!--  Normal navigation -->
				<div class="o-footer__navigation">
					<a class="o-footer__navigation__item"  href="/flights">
							Flight result
					</a>

					<a class="o-footer__navigation__item"  href="/pigeons">
							Discover our pigeons
					</a>

					<a class="o-footer__navigation__item" href="/blog">
							Blog
					</a>
				</div>

				<!--  Social navigation -->
				<div>
					<h3 class="o-footer__navigation__item"> Contact </h3>
				</div>
			</div>
		</div>
	</div>
</footer>
