<!-- Header component -->
<header class="o-header" id="header">
	<div class="o-header-inner container">
		<!--  Logo -->
		<a class="o-header__logo" href="/">
			PIGEON ltd.
		</a>

		<!--  Navigation -->
		<nav class="o-header__navigation" role="navigation" >
			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'flights' ? 'is-active'}}" href="/flights">
				<span>
					Flight result
				</span>
			</a>

			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'pigeons' ? 'is-active'}}" href="/pigeons">
				<span>
					Discover our pigeons
				</span>
			</a>

			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'blog' ? 'is-active'}}" href="/blog">
				<span>
					Blog
				</span>
			</a>
		</nav>

	</div>
</header>
