<!-- Header component -->
<header class="o-header" id="header">
	<div class="o-header-inner container">
		<!--  Logo -->
		<a class="o-header__logo" href="/">
			<img src="/assets/img/logo.png" style="width: 165px"/>
		</a>

		<!--  Navigation -->
		<nav class="o-header__navigation" role="navigation" >
			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'flights' ? 'is-active'}}" href="/resultaten">
					Resultaten
			</a>

			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'pigeons' ? 'is-active'}}" href="/pigeons">
					Ontdek mijn duiven
			</a>

			<!-- <a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'blog' ? 'is-active'}}" href="/blog">
					Blog
			</a> -->

			<a class="o-header__navigation__item a-button" href="/contact">
				Stuur mij een berichtje
			</a>
		</nav>

		<!--  Hamburger -->
		<div class="o-header__hamburger">
			<div class="a-hamburger js-menu-toggle">
				<span class="a-hamburger__bar"></span>
				<span class="a-hamburger__bar"></span>
				<span class="a-hamburger__bar"></span>
			</div>
		</div>

	</div>
</header>


<!--  Mobile menu-->
<div class="o-mobile-menu" id="o-mobile-menu">
	<div>
		<div class="o-mobile-menu__header">
			<div class="u-container">
				<div class="u-flex u-flex-space-between u-flex-align-center">
					<div class="u-flex u-flex-align-center">
						<a class="o-header__logo" href="{{siteUrl()}}">
							VANDEVELDE pigeons
						</a>
					</div>
					<!-- <a class="js-menu-toggle o-mobile-menu__close-btn">close menu</a> -->
				</div>
			</div>
		</div>

		<nav class="o-mobile-menu__navigation" role="navigation" >
			<a class="o-mobile-menu__navigation__item {{ craft.app.request.pathInfo == 'flights' ? 'is-active'}}" href="/flights">
					Resultaten
			</a>

			<a class="o-mobile-menu__navigation__item {{ craft.app.request.pathInfo == 'pigeons' ? 'is-active'}}" href="/pigeons">
					Ontdek onze duiven
			</a>

			<!-- <a class="o-mobile-menu__navigation__item {{ craft.app.request.pathInfo == 'blog' ? 'is-active'}}" href="/blog">
					Blog
			</a> -->

			<a class="o-mobile-menu__navigation__item a-button" href="/contact">
				Contacteer mij
			</a>
		</nav>
	</div>
</div>
