<!-- Header component -->
<header class="o-header" id="header">
	<div class="o-header-inner container">
		<!--  Logo -->
		<a class="o-header__logo" href="/">
			PIGEON ltd.
		</a>

		<!--  Navigation -->
		<nav class="o-header__navigation" role="navigation" >
			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'flights' ? 'is-active'}}" href="/flights">
					Flight result
			</a>

			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'pigeons' ? 'is-active'}}" href="/pigeons">
					Discover our pigeons
			</a>

			<a class="o-header__navigation__item {{ craft.app.request.pathInfo == 'blog' ? 'is-active'}}" href="/blog">
					Blog
			</a>

			<a class="o-header__navigation__item a-button" href="/contact">
				contact me
			</a>
		</nav>

	</div>
</header>
