<section class="m-section m-section--coloredDark">
	<div class="container">
		<div class="o-article__block o-article__block--featured">
			<div class="u-grid__col-1-2">
				<div class="o-article__block__image" style="background-image: url('/assets/img/pigeon1.jpg')">
				</div>
			</div>

			<div class="u-grid__col-1-2 u-padding">
				<h1> Hi, I'm Collin </h1>
				<p> Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
						Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. </p>
				<a href="" class="a-link"> Mijn duifkes </a>
				<a href="" class="a-link"> Tips and tricks </a>
				<a href="" class="a-link"> Check our flight results </a>
			</div>
		</div>
	</div>
</section>
