<!--  Variable declaration -->
{% set pigeon = entry.generic_pigeon.one() %}

<!--  Render-->
<section class="m-section m-section--small m-section--white">
	<div class="container">
		<h1> Lievelingsduif </h1>
		<div class="m-bird__block m-bird__block--home u-flex u-flex-space-between u-flex-wrap">

			<div class="u-grid__col-1-2 u-padding u-no-padding-left">
				<h1> {{pigeon.title}}</h1>
				<p> {{pigeon.generic_description}} </p>

				{% if pigeon.pigeon_attributes is not empty %}
						{% for attribute in pigeon.pigeon_attributes.all() %}
							<div class="">
								<h2> {{attribute.attribute_title}} </h2>
								<p> {{attribute.attribute_description}} </p>
							</div>
						{% endfor %}
				{% endif %}
				<a href="/" class="a-button"> Discover more about this pigeon </a>
			</div>

			<div class="u-grid__col-1-2 u-padding">
				<!--  Image-->
				{% if pigeon.generic_header is not empty %}
					<div class="m-bird__block__image" style="background-image: url('{{pigeon.generic_header.one().getVolume().path}}/{{pigeon.generic_header.one().filename}}')">
						<span class="icon-heart">
						</span>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</section>
