<!--  Variable declaration -->
{% set pigeon = entry.generic_pigeon.one() %}

<!--  Render-->
<section class="m-section m-section--small m-section--white">
	<div class="container">
		<div class="m-bird__block u-flex u-flex-space-between">

			<div class="u-grid__col-1-2 u-padding">
				<h1> {{pigeon.title}}</h1>
				<p> {{pigeon.generic_description}} </p>

				{% if pigeon.pigeon_attributes is not empty %}
						{% for attribute in pigeon.pigeon_attributes.all() %}
							<div class="">
								<h2> {{attribute.attribute_title}} </h2>
								<p> {{attribute.attribute_description}} </p>
							</div>
						{% endfor %}
				{% endif %}
				<a href="/" class="a-button"> Discover more about this pigeon </a>
			</div>

			<div class="u-grid__col-1-2 u-padding">
				<div class="m-bird__block__image" style="background-image: url('/assets/img/pigeon2.jpg')">
					<span class="icon-heart">
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
