<section class="m-section m-section--small m-section--white">
	<div class="container">
		<div class="m-bird__block u-flex u-flex-space-between">

			<div class="u-grid__col-1-2 u-padding">
				<h1> Hi, I'm Collin </h1>
				<p> Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
						Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. </p>
				<h2> Color </h2>
				<p> Aenean lacinia bibendum </p>
				<h2> Color </h2>
				<p> Aenean lacinia bibendum </p>
				<h2> Color </h2>
				<p> Aenean lacinia bibendum </p>
				<a href="/" class="a-button"> Discover more about this pigeon </a>
			</div>

			<div class="u-grid__col-1-2 u-padding">
				<div class="m-bird__block__image" style="background-image: url('/assets/img/pigeon1.jpg')">
					<span class="icon-heart">
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
