<section class="m-section m-section--small m-section--colored">
	<div class="container">
		<div class="u-flex u-flex-space-between u-flex-wrap">
			<section class="u-grid__col-1-2">
				{% if entry.generic_header is not empty %}
					<div class="o-page-intro__image" style="background-image: url('/assets/uploads/{{entry.generic_header.one().filename}}')">
						<div class="o-page-intro__pigeon">
						</div>
					</div>
				{% endif %}

			</section>
			<section class="u-grid__col-1-2 u-padding">
				<h1> {{entry.title}} </h1>
				<p> {{entry.generic_description}} </p>
				<a href="/duiven" class="a-link"> Mijn duiven <span class="icon-arrow"></span></a>
				<!-- <a href="" class="a-link"> Tips and tricks <span class="icon-arrow"></a> -->
				<a href="/resultaten" class="a-link"> Mijn resultaten <span class="icon-arrow"></a>
			</section>
	</div>
</section>
