// -------------------------------------------------------------------
// :: LINK
// -------------------------------------------------------------------
.a-link {
	color: $aqua;
	display: block;
	font-family: $font-family-secondary;
	margin-bottom: 20px;
	font-size: 18px;
	text-decoration: none;
	text-transform: none;
}
