// -------------------------------------------------------------------
// :: MAIN ATTRIBUTE
// -------------------------------------------------------------------
.a-main-attribute {
	align-items: center;
	border: 2px dotted $primary-color;
	display: flex;
	flex-direction: column;
	font-family: $font-family-secondary;
	font-weight: bold;
	justify-content: center;
	padding: 25px;
	margin-right: 15px;
	width: 100%;

	span {
		color: $primary-color;
		text-transform: uppercase;
	}
}
